<ion-view title="Photo Library">
  <ion-content class="has-header">
    <button class="button button-full button-positive">Lights on!</button>

    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="photo in photos" ui-sref="photo({ photoid: photo.id })">
        <img ng-src="{{ photo.thumbnail_url }}">
        <h2>{{ photo.title }}</h2>
        <p> {{ photo.carrier }}</p>
        <!--<ion-option-button class="button-assertive icon ion-trash-a" ng-click="deletePhoto(photo.id)"></ion-option-button>-->
      </ion-item>
    </ion-list>
    </ion-content>
    <ion-footer>
      <div class="bar bar-footer bar-balanced footer-button">
        <button class="button button-full button-balanced button-icon icon ion-camera" ng-click="takePhoto()">
          Take Photo </button>
      </div>
    </ion-footer>
</ion-view>
